.container-fluid {
  padding: 50px;
}
.title {
  margin-bottom: 3rem;
  border: 0px;
  background-color: gray;
  background-image: url("../images/shopping-banner.jpg");
  height: 15rem;
  color: honeydew;
  text-shadow: 0 0 10px black;
}
.form-text {
  margin-bottom: 2rem;
}
.padder {
  padding: 1rem;
}
.middle {
  margin: auto 0;
}
.topper {
  margin-top: 5rem;
}
.colored {
  background: linear-gradient(to bottom, #e4e6e7 0%, #e8f7ff 100%);
}
