.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-icon {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#shopping-list-header {
    text-align:center;
    margin-top:2em;
}

#shopping-list {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#shopping-list-item {
    border-top:rgba(29, 18, 18, 0.1);
}

#addto-shopping-list  {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#search-item {
    margin-top:0;
    margin-bottom:1em;
    width:75%;
    margin-left: auto;
    margin-right: auto;
}

#search-item:hover, #shopping-list-item:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
   
}
#search-item-category, #item-category {
    float: right;
    font-style:italic;
}

#suggestions {
    max-height: 175px;
    overflow-y: scroll;
}

#suggestions::-webkit-scrollbar {
    display: none;
}

#add-item-button {
    float:right;
}

#item-name-input, #category-name-input {
    display: block;
    width: 100%;
}

#category-name-input {
    font-style: italic;
}
#quantity-input {
    max-width:3em;
}
input {
    border:hidden;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-template-areas:
      "menu1 menu2";
  }
.menu1 { grid-area: menu1; }
.menu2 { grid-area: menu2; }

@media screen and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "menu1"
            "menu2";
        }
    #shopping-list {
        width: 80%;
    }
}
